nav.navbar {
  background-color: #073b15;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-color: hsl(0, 0%, 94%);
  background-image: asset_url("cover_image.jpg");
}

.jumbotron .display-4,
p.lead {
  color: black;
  font-weight: bold;
}

.btn.btn-lg {
  background-color: #073b15;
  border-color: #073b15;
}

.btn.btn-lg.btn-danger{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn.btn-lg.btn-danger:hover{
  background-color: #ac2b38;
  border-color: #ac2b38;
}


.center {
  text-align: center;
}

body {
  height: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: 45px;
  padding: 5px 10px 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
  width: 100%;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.description {
  margin-top: 0;
}

.card a {
  color: #073b15;
}

.chef_info {
  margin-top: 10px;
}

.colormatch a {
  color: #073b15;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: #073b15;
  font-weight: bold;
  font-size: 1.25em;
}

ul.pagination {
  justify-content: center;
}

.form-check-label {
  padding-right: 15px;
}

.form-check-input {
  margin-right: 5px;
}

.chat-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 80;
}

.message-container {
  .form-control {
    float: left;
    width: 80%;
  }
  .btn {
    float: right;
    position: relative;
    height: 54px !important;
    width: 18%;
  }
}

.message {
  padding-left: 5px;
  padding-top: 10px;
}

.messages {
  border: 1px solid #eaeaea;
  height: 30em;
  position: relative;
  overflow: auto;
  div:last-child {
    scroll-snap-align: start;
  }
}
