<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @chef.name %> to MyRecipes the best recipe sharing app ever! </h1>
    <P>
      <a>Please don't forget to verify your account by following this link:</a>
    </p>
    <p>
      <a href="#" class="icon-link ">
        <%= link_to @url, @url%>
      </a>
    </p>
  </body>
</html>