<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Welcome <%= @chef.name %> to MyRecipes the best recipe sharing app ever! </h1>
  <p>
    <a href="#" class="icon-link ">
      <%= link_to "Please click here to verify your account", @url%>
    </a>
  </p>
  <p>Thanks for joining to this app!</p>  
  </body>
</html>